<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conexion</servlet-name>
        <servlet-class>Conexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Examen</servlet-name>
        <servlet-class>Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContinuarLeccion</servlet-name>
        <servlet-class>ContinuarLeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Revisar</servlet-name>
        <servlet-class>Revisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisarDesafio</servlet-name>
        <servlet-class>RevisarDesafio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conexion</servlet-name>
        <url-pattern>/Conexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Examen</servlet-name>
        <url-pattern>/Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContinuarLeccion</servlet-name>
        <url-pattern>/ContinuarLeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Revisar</servlet-name>
        <url-pattern>/Revisar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisarDesafio</servlet-name>
        <url-pattern>/RevisarDesafio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
